<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class = "main-content">
        {{>headers}}
        <p>This site was created by Harsha. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="/images/harsha.jpg">    
    </div>

    {{>footer}}
</body>

</html>